* {
  box-sizing: border-box;
}
body {
  font-family: Times New Roman, Times, serif;
}

header {
  background-color: pink;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
}

nav {
  float: left;
  width: 30%;
  height: 300px;
  padding: 20px;
  background: rgb(198, 158, 235);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color:rgba(103, 243, 243, 0.747);
  height: 300px; 
}
 table, th,td {
 border: 2px solid purple;
 border-collapse: collapse;
 }
section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: rgb(255, 255, 94);
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
  img {
  float: center;
}

.div1 {
  border: 3px solid rgb(139, 255, 85);
  float: left;
  width: auto;
  height: auto;
}
.div2 {
  border: 3px solid rgb(85, 88, 255);
  width: auto;
  height: auto;
  clear: left;
  padding: 5px;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
